{% extends "master_page.html" %}

{% block content %}
{% load static %}

  <br />
  <div class="row justify-content-md-center">

    <div class="card border-dark mb-3" style="max-width: 30rem;">
      <div class="card-body text-dark">
        <h5 class="card-title"><img src="{% static 'img/logo-black.png' %}" alt="" width="26" height="24" class="d-inline-block align-text-top">
          INR
        </h5>
        <br />

        {% block password_content %}{% endblock %}

      </div>
    </div>

  </div>
{% endblock %}