#pdfViewer {
    overflow: auto; /* Permite desplazamiento si el contenido es más grande */
    max-height: 500px; /* Altura máxima del visor */
    width: 100%; /* Ancho completo */
    border: 1px solid #ccc; /* Opcional: para visualizar el borde del visor */
}

#pdfCanvas {
    width: 100%; /* Asegura que el canvas use todo el ancho del modal */
    height: auto; /* Mantiene la proporción del canvas */
}

.primary-color {
    background-color: #3e419a;
}

.btn-institucional{
    background-color: #3e419a;
    color: white;
    border: none;
    border-radius: 10px;
}

.btn-institucional:hover{
    background-color: #4d509e;
    color: white;
}