<!DOCTYPE html>
<html class="no-js" lang="es-PE">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url={% url 'index' %}">
    <title>Logged_out</title>
    <meta name="description" content="Redirigir a pagina home, despues de haber cerrado sesión del usuario"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="John Asto Lanazca">
    <style>
        body {
            display: none;
        }
    </style>
  </head>
  <body>
    <p>Redirigiendo...</p>
  </body>
</html>