

Estimado/a


Has recibido este correo porque esta dirección fue registrada para restablecer tu contraseña en miCertificado.
Para completar el proceso por favor haga clic en el siguiente enlace: {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}.

--------------------------------------------------

Para mayor información contactarse al correo ufde@inr.gob.pe  o llamar a la central telefónica (01) 717 3200, anexo 2344 (Unidad de Docencia de la Oficina de Investigación y Docencia INR).
Horario de atención: lunes a viernes de 8:00 a.m. a 3:00 p.m. 


Este correo ha sido automáticamente generado, la dirección de correo no se encuentra habilitada para recibir mensajes.