{% extends "password_page.html" %}

{% block password_content %}

  {% if validlink %}
  <h5 class="card-title">Restablecer contraseña</h5>

  <form action="" method="post">
    <div style="display:none">
      <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>

    <div class="mb-3">
      <label for="id_new_password1" class="col-form-label">Nueva contraseña</label>
      <input type="password" class="form-control" name="new_password1" id="id_new_password1" required>
      <p class="text-danger">{{ form.new_password1.errors }}</p>
    </div>
          
    <div class="mb-3">
      <label for="id_new_password2" class="col-form-label">Confirma la contraseña</label>
      <input type="password" class="form-control" name="new_password2" id="id_new_password2" required>
      <p class="text-danger">{{ form.new_password2.errors }}</p>
    </div>

    <br />
    <div class="mb-3">
      <input type="submit" class="btn btn-primary" value="Guardar contraseña" />
    </div>

  </form>
  {% else %}
  <h5 class="card-title">Error al restablecer contraseña</h5>

  El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se usó.<br />
  Solicite nuevo restablecimiento de contraseña.</p>

  {% endif %}

{% endblock %}